.menu {
    position: fixed;
    top: 10px;
    left: 10px;
}

#darkMode {
    background-color: #ffffff80;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}