.menu {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.tDark {
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2px;
}

button {
    border: none;
    height: 50px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

#dashboard {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 12px;
    width: 230px;
}

#dashboard p {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

th, td {
    width: calc( 100% / 3 );
    padding-right: 1px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.helloRobotContainer {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    z-index: 0;
}

#helloRobot {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-weight: normal;
    margin-left: 100px;
    margin-right: 210px;
    width: 50%;
}

span { 
    font-weight: bold;
}